venv
.idea
dist
build

images/input/*.png
images/input/*.jpg
images/input/*.jpeg

images/output/*.png
images/output/*.jpg
images/output/*.jpeg

images/watermark/*.png
images/watermark/*.jpg
images/watermark/*.jpeg